html {
    height: 100%;
    width: 100%;
    font-family:monospace;
}

body {
    background-color: #113946;
}

/* Container for entire window - flexbox*/

.container {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: column;
    color: #FFF2D8;
}

/* Header flexbox within container */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 1px solid #FFF2D8;
}
.main-icon {
    max-width: 100%;
    height: auto;
}
.header-title {
    text-align: center;
    font-style: italic;
    font-size: larger;
}
nav {
    margin: 1em 0 .5em;
    text-align: center;
}

/* Main content of page changes from one page to another*/
main {}

/* Footer flexbox within container */
footer {
    display: inline flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #FFF2D8;
}

.footer-title {
    display: inline-block;
    padding: .5em .5em;
    font-style: italics;
}

.copyright {
    display: inline-block;
    padding: .5em .5em;
}

.footer-nav {
    font-size: 1rem;
    display: inline-block;
    text-align: center;
}

nav li,
.footer-nav li {
    display: inline;
}

nav a,
.footer-nav a {
    display: inline-block;
    padding: .5em .5em;
    color: #FFF2D8;
    text-decoration: none;
}

nav a:hover, .footer-nav a:hover{
    color: white;
    font-style: italic;
}

