html {
    height: 100%;
    width: 100%;
    font-family:monospace;
    --black: #000000;
    --white: #ffffff;
    --darkest: #101010;
    --darker: #16171A;
    --dark: #A3AFBF;
    --medium: #DFE7EF;
    --light: #CAD4E1;
    --lighter: #F5F8FC;
    --lightest: var(--white);
    
    /* neon colors */
    --navy: #211951;
    --purple: #836FFF;
    --mint: #15F5BA;
    --light-grey: #F0F3FF;

    --primary: #7B16FF;
    --primary-light: #DDD9FF;
    --primary-dark: rgba(123,22,255,0.4);
    
    --yellow: #FDCB6E;
    --orange: #E17055;
    --teal: #138972;
    
    --bg: var(--black);
    --color: var(--lightest);
    --surface: var(--darker);
}

body {
    background-color: var(--bg);
    color: var(--white)
}

/* Container for entire window - flexbox*/

.container {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: column;
}

/* Header flexbox within container */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid var(--mint);
}
.main-icon {
    max-width: 100%;
    height: auto;
}
.header-title {
    text-align: center;
    font-size: larger;
    
}
nav {
    text-align: center;
}

/* Main content of page changes from one page to another*/
main {}

/* Footer flexbox within container */
footer {
    display: inline flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-top: 1px solid var(--mint);
}

.footer-title, .copyright {
    display: inline-block;
    padding: .5em .5em;
}

.footer-nav {
    font-size: 1rem;
    display: inline-block;
    text-align: center;
}

nav li,
.footer-nav li {
    display: inline;
}

.footer-nav a {
    display: inline-block;
    padding: .5em .5em;
    color: var(--white);
    text-decoration: none;
}

.footer-nav a:hover{
    color: var(--purple);
    transition: all 0.5s;
}

.header-nav-buttons {
    display: inline-flex;
    gap: 20px;
    flex-wrap: wrap;
    
    button{
        font-size: 1.5rem;
        border: 1px solid var(--mint);
        transition: all 0.5s;
        border-radius: 10px;
        background-color: var(--darker);
        color: var(--white);
        padding: 1rem;
    }
    button:hover {
        /*border: 1px solid var(--purple);
        transition: all 0.5s;
        background-color: var(--purple);
        color: var(--white);
        padding: 1rem;*/

        background: var(--mint);
        color: var(--black);
        box-shadow: 0 0 5px var(--mint), 0 0 25px var(--mint), 0 0 50px var(--mint), 0 0 100px var(--mint);

    }
}
