@import url('/static/stylesheets/base.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

body {
    font-family: 'Megabeat', sans-serif;
    background-color: var(--bg);
    color: var(--color);
    font-size: 1.4rem;
    line-height: 1.6;
}

main {
    width: 600px;
    margin: 50px auto;
}

.select-mode {
    display: flex;
    justify-content: space-between;
}

.select-mode .selectMode {
    color: white; 
    border: 1px solid var(--mint);
    background-color: var(--bg);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: calc(33% - 10px);
    text-align: center;
    line-height: normal; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.select-mode .selectMode + .selectMode {
    margin-left: 10px;
}


.select-mode .selectMode:hover {
    background-color: var(--purple);
    border-color: var(--purple);
    color: var(--darkest);
}

.select-mode .selectMode.selected {
    background-color: var(--purple);
    border-color: var(--purple);
    color: var(--darkest);
}

h1 {
    color: var(--white);
}

h1 svg {
    width: 40px;
    fill: var(--mint);
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
}

#buttons {
    text-align: right;
}

#info {
    color: var(--mint);
}

button {
    background: var(--bg);
    border: 1px solid var(--mint);
    color: var(--white);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.5s;
}

button:hover {
    background: var(--purple);
    color: var(--white);
    border-color: var(--purple);
    box-shadow: 0 0 5px var(--purple), 0 0 25px var(--purple), 0 0 50px var(--purple), 0 0 100px var(--purple);
    transition: all 0.3s ease-in-out;
}

div#game {
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

div#game:focus {
    outline: 0;
}

#words {
    color: var(--white);
}

#textbox-container {
    position: relative; 
}

#textbox-container input[type="text"] {
    background-color: transparent; 
    color: white;
    border: none; 
    border-bottom: 1px solid white; 
    border-radius: 0; 
    padding: 10px;
    width: 500px;
    height: 30px;
    font-size: 16px; 
    outline: none;
    caret-color: var(--purple); 
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#cursor {
    display: none;
    width: 2px;
    height: 1.6rem;
    background: var(--primary);
    position: fixed;
    animation: blink .3s infinite;
}

#textbox-container input[type="text"]:focus {
    border-bottom: 1px solid var(--mint);
}

#textbox-container input[type="text"]::selection {
    background-color: rgba(128, 0, 128, 0.3); 
}

#textbox-container input[type="text"]::placeholder {
    color: gray; 
}

#textbox-container input[type="text"]::after {
    content: '';
    width: 2px; 
    background-color: var(--purple); 
    animation: blink 0.3s infinite; 
}

.score {
    display: none;
}

.score #score-box {
    position: relative;
    display: none;
    max-width: 400px;
    min-width: 300px;
    width: 100%;
    padding: 40px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    background: rgba(16, 16, 16, 0.725);
    border-radius: 10px;
    color: var(--lightest);
    box-shadow: 0 15px 25px var(--mint);
}

.score #score-box label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 10px 0;
    font-size: 23px;
    font-style: italic;
    color: var(--medium);
    pointer-events: none;
    transition: 0.5s;
}

.score #wpm-box,
.score #accu-box {
    position: relative;
    padding-top: 20px; 
}

.score #wpm,
.score #accuracy {
    font-size: 30px;
    color: var(--medium);
    text-align: center;
    display: block;
}
