/*credits: image taken from: <a href="https://www.freepik.com/free-photo/f1-racing-24-hours-le-mans-render-3d-illustration_27221933.htm#fromView=search&page=1&position=36&uuid=a0b232c4-6635-4243-8053-1677550dc723">Image by viarprodesign on Freepik</a> */
@import url('/static/stylesheets/base.css');
main img {
    height: 50%;
    width: 80%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10% 5% 10%;
    flex-direction: column;
}

main h1 {
    font-size: 5em;
    padding: 10px;

}

main .instructions{
    margin: 10px;
}

main .get-started-button{
    border: none;
    border-radius: 20px;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    padding: 16px;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    margin: 20px;
    font-style: italic;
}

/* W3schools tutorial code for box-shadow*/
main .get-started-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: var(--purple);
}