@import url('/static/stylesheets/base.css');
img {
    height: auto;
    width: min-content;
    padding: 10rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
}

.get-started-button{
    width: fit-content;
}