@import url('/static/stylesheets/base.css');

main {
    margin: 0 20% 0 20%;
    padding: 5% 0 5% 0;
    
    display: flex;
    min-height: 50vh;
    gap: 20px 20px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.left-panel{
    display: flex;
    flex-direction: column;
    flex: 30%;
    gap: 20px;
    min-height: 50vh;
    border-radius: inherit;
    text-transform: uppercase;
}

.rank-box {
    display: flex;
    background-image: linear-gradient(var(--white), var(--dark));
    color: black;
    padding: 0 15px 0 15px;
    min-height: 10vh;
    justify-content: space-between;
    border-radius: inherit;
    
}
.personal-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    background-color: var(--darker);
    
    min-height: 40vh;
    border: 1px solid var(--dark);
    border-radius: inherit;

    text-align: center;

}

.profile-pic img{
    height: 17vh;
    width: 17vh;
    position: relative;
    margin:auto;
    border-radius: 50%;
    object-fit: cover;
}

td img {
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
}

.right-panel{
    display: flex;
    flex-direction: column;
    background-color: var(--darker);

    min-height: 50vh;
    flex: 50%;
    border: 1px solid var(--dark);
    border-radius: inherit;

    padding: 3% 4% 4% 4%;
}

.rank-display{
    text-align: left;
    
}

.score-display{
    text-align: right;
}

.my-profile{
    font-size: x-large;
    font-weight: bold;
    text-transform: capitalize;
}

.profile-title #real-name {
    text-transform: capitalize;
    color: var(--mint);
}

.table-title{
    font-size: 1.5em;
    text-transform: uppercase;
    
}

.subtitle {
    font-family: var(--subtitle-font);
}

table {
    padding-top: 3%;
    width: 100%;
    text-align: left;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 4px;
}

.data-items #user-data #fullname{
    color: var(--purple);
}

.data-items #user-data{
    display: flex;

}
.data-items #user-data #name{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.leaderboard-header{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.select-mode {
    display: flex;
    margin: 0 5% 5% 0;
    position: relative;
    background-color:var(--darker);
    width: 20%;
    padding-right: 2%;

    
    .selectMode{
        display: flex;
        transition: all 0.5s;
        color: inherit;
        border: 1px solid var(--mint);
        background-color:var(--darker);
        padding: 7%;
        border-radius:12%;
        
    }
}

.selectMode:hover {
    transition: all 0.5s;
    
    background-color: var(--purple);
    border:1px solid var(--purple);
    color:var(--darker);
}

.selectMode.selected {    
    background-color: var(--purple);
    border:1px solid var(--purple);
    color:var(--darker);

}

.select-mode{
    display: flex;
    justify-content: space-evenly;
    margin: none;
    background-color: var(--darker);
    
}

tr #rank {
    padding-left: 10px;
}

@media screen and (max-width: 600px) {
    .leaderboard-header {
      flex-direction: column;
      align-items: center; 
    }
  
    .select-mode {
      justify-content: center; 
      margin: 10px 0;
    }
  }
