@import url('/static/stylesheets/base.css');

body{
    margin: 0 20% 0 20%;
}
main {
    padding: 5% 0 5% 0;
    
    display: flex;
    min-height: 50vh;
    gap: 20px 20px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.left-panel{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 50vh;
    border-radius: inherit;
    text-transform: uppercase;
}

.rank-box {
    display: flex;
    background-image: linear-gradient(var(--dark), var(--white));
    color: black;
    padding: 0 15px 0 15px;
    min-height: 10vh;
    justify-content: space-between;
    border-radius: inherit;
    
}
.personal-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    background-color: var(--darker);
    
    min-height: 40vh;
    border: 1px solid var(--dark);
    border-radius: inherit;

    text-align: center;

}

.profile-pic img{
    height: 15vh;
    width: 17vh;
    border-radius: 50%;
}
.data-items img {
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
}

.right-panel{
    display: flex;
    flex-direction: column;
    background-color: var(--darker);

    min-height: 50vh;
    width: 50%;
    border: 1px solid var(--dark);
    border-radius: inherit;

    padding: 3% 4% 4% 4%;
}

.rank-display{
    text-align: left;
    
}

.score-display{
    text-align: right;
}

.my-profile{
    font-size: x-large;
    font-weight: bold;
    text-transform: capitalize;
}

.profile-title #real-name {
    text-transform: capitalize;
    color: var(--mint);
}

.table-title{
    font-size: x-large;
    text-transform: uppercase;
    
}

table {
    padding-top: 3%;
    width: 100%;
    text-align: left;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 4px;
}

.data-items #user-data #fullname{
    color: var(--mint);
}

.data-items #user-data{
    display: flex;

}
.data-items #user-data #name{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.leaderboard-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select-mode button{
    transition: all 0.5s;
    color: inherit;
    border: 1px solid #ddd;
    background-color:var(--darkest);
    padding: 5%;
}

.select-mode button:hover {
    transition: all 0.5s;
    
    background-color: #ddd;
    border:var(--darkest);
    color:var(--darkest);
}

.select-mode{
    display: flex;
    justify-content: space-evenly;
    margin: none;
    
}

tr #rank {
    padding-left: 10px;
}