<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Type Rush - 
        {% block title_block %}
            Base 
        {% endblock %}
    </title>
    <link href="{% static 'stylesheets/base.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        {% block header_block %}
            {% include "typerush/header.html" %}
        {% endblock %}

        {% block main_block %}
        {% endblock %}

        {% block sidebar_block %}
        {% endblock %}
        
        {% block footer_block %}
            {% include "typerush/footer.html" %}
        {% endblock %}
        
    </div>
</body>

</html>