
<div class="footer-content">

    <div class="footer-nav">
        <ul class="footer-nav-list">
            |
            <li><a href="{% url 'typerush:home' %}">
                        Home
                </a>
            </li>
            <li><a href="{% url 'typerush:leaderboard' %}">
                    Leaderboard
                </a>
            </li>
            <li><a href="">
                    Log In
                </a>
            </li>
            <li><a href="">
                    Sign Up
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-title">
        | Type Racer
    </div>
    <div class="copyright">
        | © 2024, WAD 2B.
    </div>
</div>
