{% extends "typerush/base.html" %}
{% load static %}

{% block title_block %}
TypeRush
{% endblock %}

{% block css %}
<!-- <link href="{% static 'stylesheets/styles.css' %}" rel="stylesheet" type="text/css" /> -->
<link href="{% static 'stylesheets/game.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_block %}
<main>
    <div>time: <span id="timer"></span></div>
    <h1>
        <!-- SVG content here as before, omitted for brevity -->
        Type Rush
    </h1>
    <div id="game" tabindex="0">
        <div id="words"></div>
        <!-- <div id="focus-error">Click here to start!</div> -->
        <div id="textbox-container">
            <input type="text" id="user-input" placeholder="type here..">
            <div id="cursor"></div>
        </div>
        
    </div>
</main>
<div class="main-panel">
    <div class="select-mode">
        <button type="button" class="selectMode" data-mode="easy">
            Easy
        </button>
        <button type="button" class="selectMode" data-mode="medium">
            Medium
        </button>
        <button type="button" class="selectMode" data-mode="hard">
            Hard
        </button>
    </div>
{% endblock %}



{% block script %}
    <script src="{% static 'script/GameLogic.js' %}"></script>
{% endblock %}