{% load static %} 

<div class="header-content">
    
    <div class="header-title">
        <img class="main-logo" src="{% static 'images/icon.png' %}" alt="logo" width="200px" height="110px" >

        <h1>TypeRush</h1>
    </div>
    <nav>
        <ul class="header-nav-buttons">
            <li><a href="{% url 'typerush:home' %}">
                <button type="button" id="homeButton">
                    Home
                </button>
            </a>
            </li>
            <li><a href="{% url 'typerush:leaderboard' %}">
                <button type="button" id="leadButton">
                    Leaderboard
                </button>
            </a>
            </li>
            <li><a href="{% url 'typerush:user_login' %}">
                <button type="button" id="loginButton">
                    Log In
                </button>
            </a>
            </li>
            <li><a href="{% url 'typerush:register' %}">
                <button type="button" id="register">
                    Sign Up
                </button>
            </a>
            </li>
        </ul>
        
    </nav>
</div>

