
<div class="header-content">
    <div class="header-title">
        <img class="main-logo" src="images/logo.png" alt="logo" width="100px" height="100px">

        <h1>Type Rush</h1>
    </div>

    <nav>
        <ul class="header-nav-buttons">
            <li><button type="button">
                Home
            </button>
            </li>
            <li>
                <button type="button">
                    Leaderboard
                </button>
            </li>
            <li>
                <button type="button">
                    Log In
                </button>
            </li>
            <li>
                <button type="button">
                    Sign Up
                </button>
            </li>
        </ul>

    </nav>
</div>

