
<div class="header-content">
    <div class="header-title">
        <img class="main-logo" src="images/logo.png" alt="logo" width="100px" height="100px">

        <h1>Type Rush</h1>
    </div>

    <nav>
        <ul class="header-nav-list">
            <li><a href="">
                    <h3>Home</h3>
                </a>
            </li>
            <li><a href="">
                    <h3>Leaderboard</h3>
                </a>
            </li>
            <li><a href="">
                    <h3>Log In</h3>
                </a>
            </li>
            <li><a href="">
                    <h3>Sign Up</h3>
                </a>
            </li>
        </ul>

    </nav>
</div>

