{% extends 'typerush/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block css %}
    <link href="{% static 'stylesheets/home.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_block %}
    <img src="{% static 'images/homeImg.jpg' %}" alt="racing-cars" />
    <h1>WELCOME</h1>
    <div class ="instructions">
        Game Instruction not added yet. But it will look like this when added.
    </div>
        
    <button class="get-started-button">GET STARTED</button>

{% endblock %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.get-started-button').on('click', function(){
                $(this).css(
                    {
                        'margin-right': '+=200px'
                    }, 1000
                );
            });
        });
    </script>
{% endblock %}