{% extends 'typerush/base.html' %}
{% load static %}


{% block title_block %}
    Leaderboard
{% endblock %}

{% block css %}
    <!-- filename in cap letter and works? -->
    <link href="{% static 'stylesheets/Leaderboard.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_block %}
    {% if user.is_authenticated %}
        <div class="left-panel">
            <div class="rank-box">
                <div class="rank-display">
                    <h3>My Rank</h3>
                    <h2>{{ user_instance.rank }} Place</h2>
                </div>
                <div class="score-display">
                    <h3>My Score</h3>
                    <h2>{{ user_instance.average_speed }}</h2>
                </div>
                
            </div>
            <div class="personal-info">
                <div class="my-profile">
                    My Profile
                </div>
                
                <div class="profile-pic">
                    <img src="{% static 'media/{{user_instance.profile_picture}}' %}" />
                </div>
                <div class="profile-title">
                    <h2 id="username">{{ user_instance.user }}</h2>
                    <h3 id="real-name"> {{user_instance.firstname}} {{user_instance.surname }}</h3>
                </div>

            </div>

        </div>
    {% endif %}
    

    <div class="right-panel">
        <div class="leaderboard-header">
            <div class="table-title">
                Leaderboard
            </div>
            <div class="select-mode">
                <button type="button">
                    Easy
                </button>
                <button type="button">
                    Medium
                </button>
                <button type="button">
                    Hard
                </button>
    
            </div>

        </div>
        
        <table>
            <thead>
            <tr class="table-header">
                <th>Rank</th>
                <th>Racer</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr class="data-items">
                {% for game in top_games_by_mode %}
                <td id="rank">1</td>
                <td id="user-data">
                    <div id="profile-pic">
                        <img src="{% static 'images/profile1.jpg' %}" alt="profile pic goes here" />
                    </div>
                    <div id="name">
                        <div id="username">
                            User
                        </div>
                        <div id="fullname">
                            First Second
                        </div>
                    </div>
                </td>
                <td>{{ top_games_by_mode }}</td>
                {% endfor %}
            </tr>
            <!-- FOR TESTING ONLY. DELETE THIS AFTER POPULATION DATA MADE -->
            <tr class="data-items">
                <td id="rank">1</td>
                <td id="user-data">
                    <div id="profile-pic">
                        <img src="{% static 'images/profile1.jpg' %}" alt="profile pic goes here" />
                    </div>
                    <div id="name">
                        <div id="username">
                            User
                        </div>
                        <div id="fullname">
                            First Second
                        </div>
                    </div>
                </td>
                <td>53</td>
            </tr>
            <tr class="data-items">
                <td id="rank">2</td>
                <td id="user-data">
                    <div id="profile-pic">
                        <img src="{% static 'images/profile1.jpg' %}" alt="profile pic goes here" />
                    </div>
                    <div id="name">
                        <div id="username">
                            User
                        </div>
                        <div id="fullname">
                            First Second
                        </div>
                    </div>
                </td>
                <td>53</td>
            </tr>
            <tr class="data-items">
                <td id="rank">3</td>
                <td id="user-data">
                    <div id="profile-pic">
                        <img src="{% static 'images/profile1.jpg' %}" alt="profile pic goes here" />
                    </div>
                    <div id="name">
                        <div id="username">
                            User
                        </div>
                        <div id="fullname">
                            First Second
                        </div>
                    </div>
                </td>
                <td>53</td>
            </tr>

            <!-- Actual code that will be used -->
            <!-- {% for leader in leaders %}
            <tr>
                <td>{{ leader.rank }}</td>
                <td>{{ leader.username }}</td>
                <td>{{ leader.score }}</td>
            </tr>
            {% endfor %}
             -->
            </tbody>

        </table>

    </div>

{% endblock %}
