{% extends 'typerush/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Leaderboard
{% endblock %}

{% block css %}
    <!-- filename in cap letter and works? -->
    <link href="{% static 'stylesheets/Leaderboard.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_block %}
    <div class="left-panel">
        <div class="rank-box">
            <div class="rank-display">
                <h3>My Rank</h3>
                <h2>2nd Place</h2>
            </div>
            <div class="score-display">
                <h3>My Score</h3>
                <h2>100wpm</h2>
            </div>
            
        </div>
        <div class="personal-info">
            <div class="my-profile">
                My Profile
            </div>
            
            <div class="profile-pic">
                <img src="{% static 'images/profile1.jpg' %}" alt="profile pic goes here" />
            </div>
            <div class="profile-title">
                <h2 id="username">Username goes here</h2>
                <h3 id="real-name"> Fullname if given</h3>
            </div>

        </div>

    </div>

    <div class="right-panel">
        <div class="leaderboard-header">
            <div class="table-title">
                Leaderboard
            </div>
            <div class="select-mode">
                <button type="button">
                    Easy
                </button>
                <button type="button">
                    Medium
                </button>
                <button type="button">
                    Hard
                </button>
    
            </div>

        </div>
        
        <table>
            <thead>
            <tr class="table-header">
                <th>Rank</th>
                <th>Racer</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr class="data-items">
                {% for game in top_games_by_mode %}
                <td id="rank">1</td>
                <td id="user-data">
                    <div id="profile-pic">
                        <img src="{% static 'images/profile1.jpg' %}" alt="profile pic goes here" />
                    </div>
                    <div id="name">
                        <div id="username">
                            User
                        </div>
                        <div id="fullname">
                            First Second
                        </div>
                    </div>
                </td>
                <td>{{ top_games_by_mode }}</td>
                {% endfor %}
            </tr>

            <!-- Actual code that will be used -->
            <!-- {% for leader in leaders %}
            <tr>
                <td>{{ leader.rank }}</td>
                <td>{{ leader.username }}</td>
                <td>{{ leader.score }}</td>
            </tr>
            {% endfor %}
             -->
            </tbody>

        </table>

    </div>

{% endblock %}
