{% extends 'typerush/base.html' %}

{% load static %} 

{% block title_block %}Login{% endblock %}

{% block css %}
{{ block.super }}
<link href="{% static 'stylesheets/login.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_block %}
<div class="login-box">
    <h2>Login</h2>
    <form action="{% url 'typerush:user_login' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="user-box">
            <input type="text" name="username" onfocus="this.value=''" required>
            <label for="">Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" onfocus="this.value=''" required>
            <label for="">Password</label>
        </div>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        <button type="submit" class="login-button">Submit</button>
    </form>
    
</div>
{% endblock %}
