{% extends 'typerush/base.html' %}
{% load static %} 

{% block title_block %}
    Profile
{% endblock %}

{% block css %}
    <link href="{% static 'stylesheets/profile.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_block %}
    <div class="profile-card">
        <div class="profile-header"><!-- profile header section -->
            <div class="main-profile">
                <div class="profile-image">
                    {% if player.profile_picture %}
                        <img src="{{ MEDIA_URL }}{{ player.profile_picture }}" alt="profile-img"/>
                    {% else %}
                        <!-- Show default profile picture -->
                        <img src="{% static 'images/usercircle.png' %}" alt="default-profile-img"/>
                    {% endif %}

                </div>
                <div class="profile-names">
                    <h1 class="username">{{ player.user.username }}</h1>
                    <h2 class="fullname">{{ player.firstname }} {{ player.surname }}</h2>
                </div>
            </div>
        </div>

        <div class="profile-body"><!-- profile body section -->
            <div class="profile-actions">
                <button type ="button" class="rank" onmouseover="showRanks()">Ranks:
                    <small class = "hidden" id="easyRank">Easy >> {{rank.easy}}</small>
                    <small class = "hidden" id="mediumRank">Medium >> {{rank.medium}}</small>
                    <small class = "hidden" id="hardRank">Hard >> {{rank.hard}}</small>
                </button>
                <button class="country">Country: {{ player.country }}</button>
                
            </div>

            <div class="data">
                <div class="important-data">
                    <section class="data-item">
                        <h3 class="value">{{player.total_races}}</h3>
                        <small class="title">Races</small>
                    </section>
                </div>
                <div class="other-data">
                    <section class="data-item">
                        <h3 class="value">{{easy_hs}} WPM</h3>
                        <small class="title">Easy Highscore</small>
                    </section>
                    <section class="data-item">
                        <h3 class="value">{{medium_hs}} WPM</h3>
                        <small class="title">Medium Highscore</small>
                    </section>
                    <section class="data-item">
                        <h3 class="value">{{hard_hs}} WPM</h3>
                        <small class="title">Hard Highscore</small>
                    </section>
                </div>
            </div>
        </div>
        <div class="history">
            <h1> Player History </h1>
            <h1> Top 3 Games</h1>
            <table id = "leaderboard">
                <thead>
                    <tr class="table-header">
                        <th>Race Mode</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for games in user_games %}
                    {% for game in games%}
                    <tr>
                        <td>{{game.mode}}</td>
                        <td>{{game.score}}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
    
                </tbody>
            </table> 
        </div>
        <div class="controls">
            <div id="edit-profile">
                <a href="{% url 'typerush:edit_profile' %}" button type = "button">Edit Profile</a></button>
            </div>
            <div id="logout">
                <a href="{% url 'typerush:user_logout' %}" button type = "button" id='logoutButton'>Log Out</a></button>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'script/JQuery.js' %}"></script>
    <script src="{% static 'script/RankSuffix.js' %}"></script>
{% endblock %}