{% extends 'typerush/base.html' %}
{% load static %} 

{% block title_block %}
    Profile
{% endblock %}

{% block css %}
    <link href="{% static 'stylesheets/profile.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_block %}
    <div class="profile-card">
        <div class="profile-header"><!-- profile header section -->
            <div class="main-profile">
                <div class="profile-image">
                    <img src="{{ MEDIA_URL }}profile_images/profile11.jpeg" alt="profile-img"/>

                </div>
                <div class="profile-names">
                    <h1 class="username">{{ player.user.username }}</h1>
                    <h2 class="fullname">{{ player.firstname }} {{ player.surname }}</h2>
                </div>
            </div>
        </div>

        <div class="profile-body"><!-- profile body section -->
            <div class="profile-actions">
                <button class="rank">Rank: {{ player.rank }}</button>
                <button class="country">Country: {{ player.country }}</button>
                
            </div>

            <div class="data">
                <div class="important-data">
                    <section class="data-item">
                        <h3 class="value">{{player.total_races}}</h3>
                        <small class="title">Races</small>
                    </section>
                    <section class="data-item">
                        <h3 class="value">{{player.average_speed}}</h3>
                        <small class="title">Average Speed</small>
                    </section>
                </div>
                <div class="other-data">
                    <section class="data-item">
                        <h3 class="value">70WPM</h3>
                        <small class="title">Easy Highscore</small>
                    </section>
                    <section class="data-item">
                        <h3 class="value">70WPM</h3>
                        <small class="title">Medium Highscore</small>
                    </section>
                    <section class="data-item">
                        <h3 class="value">70WPM</h3>
                        <small class="title">Hard Highscore</small>
                    </section>
                </div>
            </div>
        </div>
        <div class="history">
            <h1> Player History </h1>
            <table id = "leaderboard">
                <thead>
                    <tr class="table-header">
                        <th>Race Mode</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in user_games %}
                    <tr>
                        <td>{{game.mode}}</td>
                        <td>{{game.score}}</td>
                    </tr>
                    {% endfor %}
    
                </tbody>
            </table>
            
        </div>
    </div>
{% endblock %}