{% extends 'typerush/base.html' %}
{% load static %}

{% block title_block %}
    Mode
{% endblock %}

{% block css %}
    <!-- filename in cap letter and works? -->
    <link href="{% static 'stylesheets/selectingGameMode.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_block %}
    <h3>please select a difficulty</h3>
    <div class="main-panel">
        <div class="select-mode">
            <button type="button" class="selectMode" data-mode="easy">
                Easy
            </button>
            <button type="button" class="selectMode" data-mode="medium">
                Medium
            </button>
            <button type="button" class="selectMode" data-mode="hard">
                Hard
            </button>
        </div>
        <h4></h4>
        <div class="submit-mode">
            <a href="{% url 'typerush:game' %}" button type="submit">
                Start Game
            </button>
        </div>

    </div>

<script src="{% static 'script/SelectingGameMode.js' %}"></script>
{% endblock %}
